.action-options {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: calc(var(--fixed-action-height) + 0.5rem);
    text-align: center;
}

#filter-options {
    .toggle-btn {
        width: 100%;
        label {
            width: 50%;
        }
        .swap {
            label {
                width: 25%;
            }
        }
    }
}

#select-random {
    .toggle-btn {
        width: 100%;
        label {
            width: 50%;
        }
    }
    .focus-btns-initial {
        width: 100%;
        display: flex;
        justify-content: center;

        .toggle-btn {
            width: 35%;
        }
        label {
            width: 100%;
        }
    }
    #include-playing-btn {
        padding-top: 1rem;
        border-top: 2px solid var(--bg-1);
        width: 100%;
    }
}

#game-list {
    .list-actions {
        position: fixed;
        display: flex;
        justify-content: space-around;
        height: var(--fixed-action-height);
        width: 100%;
        bottom: 0px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--bg-0));

        #random-btn,
        #filter-btn {
            color: var(--light);
            text-align: center;
            line-height: calc(var(--fixed-action-height) - 0.75rem);
            display: block;
            height: 100%;
            width: 50%;
            div {
                border-radius: 15px;
                margin: 0 0.5rem 0.5rem 0.5rem;
                box-shadow: 2px 2px 3px var(--bg-0);
            }
        }
        #random-btn {
            div {
                background-color: var(--primary);
                border: 2px solid var(--primary-dark);
            }
        }
        #random-btn:hover {
            div {
                background-color: var(--primary-active);
            }
        }
        #random-btn:active {
            div {
                background-color: var(--primary);
            }
        }
        #filter-btn {
            div {
                background-color: var(--bg-4);
                border: 2px solid var(--bg-3);
            }
        }
        #filter-btn:hover {
            div {
                background-color: var(--bg-3);
                border: 2px solid var(--bg-2);
            }
        }
        #filter-btn:active {
            div {
                background-color: var(--bg-4);
            }
        }
        #random-btn:hover,
        #filter-btn:hover {
            div {
                transition: background-color 0.1s, color 0.1s;
            }
        }
    }
}
