.action-options {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: calc(var(--std-action-height) + 0.5rem);
    text-align: center;
}

#filter-options {
    .toggle-btn {
        width: 100%;
        label {
            width: 50%;
        }
        .swap {
            label {
                width: 25%;
            }
        }
    }
}

#select-random {
    .toggle-btn {
        width: 100%;
        label {
            width: 50%;
        }
    }
    .focus-btns-initial {
        width: 100%;
        display: flex;
        justify-content: center;

        .toggle-btn {
            width: 35%;
        }
        label {
            width: 100%;
        }
    }
    #include-playing-btn {
        padding-top: 1rem;
        border-top: 2px solid var(--bg-1);
        width: 100%;
    }
}

#game-list {
    .list-actions {
        position: fixed;
        display: flex;
        justify-content: space-around;
        height: calc(var(--list-action-height + 0.5rem));
        width: 100%;
        bottom: 0px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--bg-0));

        #random-btn,
        #filter-btn {
            color: var(--light);
            text-align: center;
            line-height: calc(var(--list-action-height) - 1rem);
            display: block;
            height: 100%;
            width: 50%;
            .button-div {
                display: block;
                border-radius: 15px;
                margin: 0 0.5rem 0.5rem 0.5rem;
                box-shadow: 2px 2px 3px var(--bg-0);
            }
        }
        #random-btn {
            .button-div {
                background-color: var(--primary);
                border: 2px solid var(--primary-dark);
            }
        }
        #random-btn {
            .button-div:hover {
                background-color: var(--primary-active);
            }
        }
        #random-btn {
            .button-div:active {
                background-color: var(--primary);
            }
        }
        #filter-btn {
            .button-div {
                position: relative;
                z-index: 1;
                background-color: var(--bg-4);
                border: 2px solid var(--bg-3);
            }
            .current-filter {
                font-size: small;
                position: absolute;
                line-height: normal;
                bottom: calc(var(--list-action-height) + 0.2rem);
                left: 75%;
                right: -25%;
                transform: translate(-50%, 50%);
                z-index: 0;
                width: fit-content;

                span {
                    background-color: var(--bg-3);
                    padding: 0.25rem;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }
            }
        }
        #filter-btn {
            .button-div:hover {
                background-color: var(--bg-3);
                border: 2px solid var(--bg-2);
            }
        }
        #filter-btn {
            .button-div:active {
                background-color: var(--bg-4);
            }
        }
        #random-btn #filter-btn {
            .button-div:hover {
                transition: background-color 0.1s, color 0.1s;
            }
        }
    }
}
