button {
    cursor: pointer;
    color: var(--light);
    background-color: var(--primary);
    padding: 0.5rem 1rem;
    border-radius: 3px;
    border: 0;
    padding-block: 0;
    padding-inline: 0;
    box-shadow: 1px 1px 2px var(--bg-0);
}

button:hover {
    transition: background-color 0.1s, color 0.1s;
    background-color: var(--primary-active);
}

button:disabled {
    cursor: default;
    color: var(--bg-4);
    background-color: var(--bg-3);
}

.fixed-action {
    position: fixed;
    background-color: var(--bg-0);
    height: var(--fixed-action-height);
    width: 100%;
    bottom: 0px;

    .button-wrapper {
        height: 100%;
        width: 100%;
        .action-btn {
            box-shadow: none;
            height: 100%;
            width: 100%;
        }
    }
}

.toggle-btn {
    margin: 0.5rem;

    label {
        display: inline-block;
        cursor: pointer;
        background-color: var(--bg-3);
        color: var(--bg-4);
        padding: 0.5rem 1rem;
        border-radius: 3px;
        box-shadow: 1px 1px 2px var(--bg-0);
    }
    label:hover {
        transition: background-color 0.1s, color 0.1s;
        background-color: var(--bg-4);
        color: var(--bg-3);
    }
    input:checked + label {
        background-color: var(--primary);
        color: var(--light);
    }
    input:checked + label:hover {
        transition: background-color 0.1s, color 0.1s;
        background-color: var(--primary-active);
    }
}
.toggle-btn.swap {
    label {
        background-color: var(--primary);
        color: var(--light);
    }
    input:checked + label {
        background-color: var(--primary);
        color: var(--light);
    }
}

.delete-btn {
    margin: 0.5rem;
    background-color: var(--warning);
    border-radius: 3px;
    padding: 0.5rem 1rem;
}
.delete-btn:hover {
    transition: background-color 0.1s, color 0.1s;
    background-color: var(--warning-active);
}

.focus-btns-initial {
    /* Not part of React-Transition-Group */
    /* Just an initial value to get overrided as soon as it's interacted with. */
    transform: scale(0.9);
}
.focus-btns-enter {
    transform: scale(0.9);
}
.focus-btns-enter-active {
    transform: scale(1);
    transition: all 200ms;
}
.focus-btns-enter-done {
    transform: scale(1);
}

.focus-btns-exit {
    transform: scale(1);
}
.focus-btns-exit-active {
    transform: scale(0.9);
    transition: all 200ms;
}
.focus-btns-exit-done {
    transform: scale(0.9);
}
