#details {
    background-color: var(--bg-0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .text-info {
        background: linear-gradient(
            to bottom,
            var(--bg-transparent) 75%,
            rgba(0, 0, 0, 0)
        );
        padding: 2.5% 2.5% 2em;

        * {
            text-shadow: 1px 1px 2px var(--bg-0);
        }
    }
    .name {
        margin: 0.5em;
        text-align: center;
    }
}
