#list {
    /* .entry {
    color: var(--light-text);
    overflow: auto;

    .wrapper {
        background-color: var(--bg-1);
        border-radius: 16px;
        padding: 0.5em;
        margin: 0.5em;
    }
    .name {
        font-size: 1.15rem;
        font-weight: 400;
        margin: none;
    }
    } */

    .entry {
        .wrapper {
            color: var(--light-text);
            overflow: auto;
        }
        .card {
            background-color: var(--bg-0);
            border: var(--bg-1) solid 3px;
            border-bottom: none;
            border-top: none;
            border-radius: 3px;
            padding: 0.5em;
            margin: 0.5em;
        }
        .name {
            font-size: 1.15rem;
            font-weight: 400;
            margin: none;
        }
    }
}
