input[type='text'],
input[type='password'] {
    color: var(--light);
    background-color: var(--bg-1);
    border: none;
    border-radius: 5px;
    padding: 0.25em;
    border: 2px solid var(--bg-2);
}

button {
    cursor: pointer;
    color: var(--light);
    background-color: var(--primary);
    border: 0;
}

button:disabled {
    color: var(--bg-2);
    background-color: var(--primary-desat);
}

.fixed-action {
    position: fixed;
    background-color: var(--bg-0);
    height: var(--fixed-action-height);
    width: 100%;
    bottom: 0px;

    .button-wrapper {
        height: 100%;
        width: 100%;
        .action-btn {
            height: 100%;
            width: 100%;
        }
    }
}

.toggle-btn {
    margin: 2.5%;

    label {
        display: inline-block;
        cursor: pointer;
        background-color: var(--bg-2);
        color: var(--bg-3);
        padding: 0.5em 1em;
        border-radius: 5%;
    }
    input:checked + label {
        background-color: var(--primary);
        color: var(--light);
    }
}
.toggle-btn.swap {
    label {
        background-color: var(--primary);
        color: var(--light);
    }
    input:checked + label {
        background-color: var(--primary);
        color: var(--light);
    }
}

.delete-btn {
    margin: 2.5%;
    background-color: firebrick;
    border-radius: 5%;
    padding: 0.25em 1em;
}

.focus-btns-initial {
    /* Not part of React-Transition-Group */
    /* Just an initial value to get overrided as soon as it's interacted with. */
    transform: scale(0.9);
}
.focus-btns-enter {
    transform: scale(0.9);
}
.focus-btns-enter-active {
    transform: scale(1);
    transition: all 200ms;
}
.focus-btns-enter-done {
    transform: scale(1);
}

.focus-btns-exit {
    transform: scale(1);
}
.focus-btns-exit-active {
    transform: scale(0.9);
    transition: all 200ms;
}
.focus-btns-exit-done {
    transform: scale(0.9);
}
