#list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: var(--fixed-action-height);

    .list-section {
        width: 100%;
        position: relative;
        background-color: var(--bg-0);
    }
    #toggle-playing-btn {
        background-color: var(--primary);
        border-radius: 1em;
        margin: 0.25em;
        line-height: 0.25em;
        height: 0.75em;
        width: 90%;
        padding-inline: 0px;
        padding-block: 0px;

        .svg-inline--fa {
            line-height: inherit;
            height: inherit;
        }
    }
    #add-game-btn {
    }
    .list-actions {
        position: fixed;
        background-color: var(--bg-0);
        height: var(--fixed-action-height);
        width: 100%;
        bottom: 0px;
        display: flex;
        justify-content: space-between;
        #random-btn {
            border-right: 1px solid var(--bg-1);
        }
        #filter-btn {
            border-left: 1px solid var(--bg-1);
            button {
                background-color: var(--bg-3);
            }
        }
        #random-btn,
        #filter-btn {
            display: block;
            height: 100%;
            width: 50%;
        }

        #random-btn,
        #filter-btn {
            button {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.playing-section-enter {
    max-height: 0dvh;
}
.playing-section-enter-active {
    max-height: 100dvh;
    transition: all 300ms;
}

.playing-section-exit {
    max-height: 100dvh;
}
.playing-section-exit-active {
    max-height: 0px;
    transition: all 200ms;
}
.playing-section-exit-done {
    display: none;
    max-height: 0px;
}
