nav {
    a {
        text-decoration: none;
        margin: 0 1rem;
        color: var(--light-text);
    }
    .action-text {
        cursor: pointer;
        color: var(--light-text);
    }
    border-bottom: 1px solid;
}
