nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px;
    background-color: var(--bg-1);
    border-bottom: 1px solid;

    a {
        text-decoration: none;
        color: var(--light-text);
    }
    .title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-right: auto;
    }
    .brand {
        letter-spacing: -0.07em;
        word-spacing: -0.07em;
        white-space: nowrap;
    }
    .username {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .link-icon {
        cursor: pointer;
        margin-left: 0.25em;
    }
}
