body {
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    --fixed-action-height: 2rem;
}

#root {
    height: inherit;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

a {
    text-decoration: none;
    color: var(--accent);
}

.svg-inline--fa {
    vertical-align: middle;
}

.welcome {
    text-align: center;
    h1 {
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
    p {
        font-size: 1.15rem;
    }
}

.brand {
    letter-spacing: -0.07em;
    word-spacing: -0.07em;
    white-space: nowrap;
}

.text-wrap {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.rawg-attribution {
    text-align: center;
    padding: 1em;
    padding-bottom: 1em;
}
