:root {
    --light: #e6fffbfa;
    --primary: #3b5249;
    --primary-desat: #3e4f48; /* Desaturated 30% */
    --secondary: #a4b494;
    --secondary-desat: #a4af99; /* Desatured 30% */
    --secondary-desat-darken: #a4af99; /* Desaturated 30%, Darkened 20% */
    --accent: #aa5042;
    --bg-0: #141314;
    --bg-1: #272527;
    --bg-2: #3b383b;
    --bg-3: #4e4a4e;
    --bg-transparent: #14131480;
}

body {
    background: var(--bg-0);
    color: var(--light);
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    --fixed-action-height: 2rem;
}

#root {
    height: inherit;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

a {
    text-decoration: none;
    color: var(--accent);
}

input[type='text'],
input[type='password'] {
    color: var(--light);
    background-color: var(--bg-1);
    border: none;
    border-radius: 5px;
    padding: 0.25em;
    border: 2px solid var(--bg-2);
}

.svg-inline--fa {
    vertical-align: middle;
}

.welcome {
    text-align: center;
    h1 {
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
    p {
        font-size: 1.15rem;
    }
}

.brand {
    letter-spacing: -0.07em;
    word-spacing: -0.07em;
    white-space: nowrap;
}

.rawg-attribution {
    text-align: center;
    padding: 1em;
    padding-bottom: 1em;
}
