:root {
    --light: #fffbfa;
    --light-text: #e6fffbfa;
    --primary: #3b5249;
    --primary-desat: #3e4f48; /* Desaturated 30% */
    --secondary: #a4b494;
    --secondary-desat: #a4af99; /* Desatured 30% */
    --secondary-desat-darken: #a4af99; /* Desaturated 30%, Darkened 20% */
    --accent: #aa5042;
    --bg-0: #141314;
    --bg-1: #272527;
    --bg-2: #3b383b;
    --bg-3: #4e4a4e;
}

body {
    background: var(--bg-0);
    color: var(--light-text);
}

input[type='text'] {
    color: var(--light-text);
    background-color: var(--bg-2);
    border: none;
    border-radius: 5px;
}

button {
    background-color: var(--primary);
    border: 0;
}
