.auth {
    text-align: center;

    .brand {
        margin: 0.5rem;
    }
    form {
        text-align: center;

        section {
            margin: 0 5%;
        }
        label {
            text-align: start;
            margin-left: 5%;
            display: block;
        }
        input {
            width: 90%;
            margin-bottom: 0.5rem;
        }
        button {
            padding: 0.5rem 1rem;
            margin: 1rem;
        }
    }
}
