#game-list {
    .entry {
        .wrapper {
            overflow: auto;

            .spacer {
                background-color: transparent;
                width: 4px;
                height: 100px;
                content: '';
            }
        }

        .card {
            display: flex;
            flex-direction: row;
            margin: 0.5rem;
            border: var(--bg-2) solid 3px;
            border-bottom: none;
            border-top: none;
            border-radius: 3px;
        }
        .card.dragging {
            background-color: var(--bg-0);
        }
        .card-link {
            display: block;
            width: 100%;
            overflow: auto;
        }
        .card-box {
            background-color: var(--bg-1);
            color: var(--light);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 100px;
            padding: 0.5rem;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            &:hover {
                background-color: var(--bg-2);
            }
        }
        .card-grip {
            cursor: grab;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100px;
            border-left: none;
            border-right: none;
            padding: 0 0.2rem;
            align-self: center;
            transition: padding 100ms;
            &:hover {
                padding: 0.4rem;
                transition: padding 100ms;
                svg {
                    color: var(--light-active);
                }
            }
        }

        .name-and-star {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .name {
                font-size: 1.2rem;
                font-weight: 400;
                margin: 0;
            }
            .svg-inline--fa {
                margin-left: auto;
                color: var(--starred);
            }
        }

        .entry-info {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: space-between;

            .playtime-and-pills {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }
            .playtime {
                align-self: flex-start;
            }
            .pill {
                box-shadow: 1px 1px 2px var(--bg-0);
                display: inline-block;
                padding: 0.2em 0.5em;
                border-radius: 12px;
                margin-left: auto;
            }
            .pill.owned {
                background-color: var(--owned);
            }
            .date-added {
                font-size: 0.9rem;
                margin-top: auto;
                align-self: flex-end;
            }
        }
    }
}
