#list {
    .entry {
        .wrapper {
            color: var(--light);
            overflow: auto;
        }
        .card {
            background-color: var(--bg-0);
            border: var(--bg-1) solid 3px;
            border-bottom: none;
            border-top: none;
            border-radius: 3px;
            padding: 0.5em;
            margin: 0.5em;
        }

        .name-and-star {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .name {
                font-size: 1.15rem;
                font-weight: 400;
                margin: none;
            }
            .svg-inline--fa {
                margin-left: auto;
                color: yellow;
            }
        }

        .entry-info {
            display: flex;
            flex-direction: column;

            .playtime-and-pills {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }
            .playtime {
                align-self: flex-start;
                font-size: smaller;
            }
            .pill {
                display: inline-block;
                padding: 0.2em 0.5em;
                border-radius: 1em;
                margin-left: auto;
            }
            .pill.playing {
                background-color: royalblue;
            }
            .pill.owned {
                background-color: olivedrab;
            }
            .date-added {
                align-self: flex-end;
            }
        }
    }
}
