#list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: var(--fixed-action-height);

    .list-section {
        text-align: center;
        width: 100%;
        position: relative;
        background-color: var(--bg-0);
    }
    #playing-section {
        #toggle-playing-btn {
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-color: var(--playing-accent);
            border-radius: 1em;
            margin-top: 0.5rem;
            line-height: 0.25;
            height: 1em;
            width: calc(100% - 1rem);
            padding-inline: 0px;
            padding-block: 0px;

            .svg-inline--fa {
                line-height: inherit;
                height: inherit;
            }
        }

        .header {
            display: inline-block;
            font-size: 1.3rem;
            font-weight: 500;
            margin-top: 0.5rem;
            padding: 0.25rem 0.5rem;
            border-bottom: 2px solid var(--bg-transparent);
        }
    }
    #playing-section.show-playing {
        background: linear-gradient(
            to bottom,
            var(--playing-accent-transparent) 0px,
            var(--bg-0) 100px
        );
    }

    /* #add-game-btn {
    } */

    .list-actions {
        position: fixed;
        background-color: var(--bg-0);
        height: var(--fixed-action-height);
        width: 100%;
        bottom: 0px;
        display: flex;
        justify-content: space-between;

        #random-btn {
            border-right: 1px solid var(--bg-2);
            div {
                background-color: var(--primary);
            }
        }
        #filter-btn {
            border-left: 1px solid var(--bg-2);
            div {
                background-color: var(--bg-4);
            }
        }
        #random-btn,
        #filter-btn {
            color: var(--light);
            text-align: center;
            line-height: var(--fixed-action-height);
            display: block;
            height: 100%;
            width: 50%;
            div {
                margin: auto;
                width: 100%;
                height: 100%;
            }
        }
    }
}

/* Display list transitions */
.playing-list-enter {
    max-height: 0dvh;
}
.playing-list-enter-active {
    max-height: 100dvh;
    transition: all 300ms;
}

.playing-list-exit {
    max-height: 100dvh;
}
.playing-list-exit-active {
    max-height: 0px;
    transition: all 200ms;
}
.playing-list-exit-done {
    display: none;
    max-height: 0px;
}
