#list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: var(--fixed-action-height);

    .list-section {
        text-align: center;
        width: 100%;
        position: relative;
        background-color: var(--bg-0);
    }
    #playing-section {
        #toggle-playing-btn {
            background-color: var(--playing-accent);
            border-radius: 1em;
            margin: 0.5em;
            line-height: 0.25em;
            height: 1em;
            width: calc(100% - 1em);
            padding-inline: 0px;
            padding-block: 0px;

            .svg-inline--fa {
                line-height: inherit;
                height: inherit;
            }
        }

        .header {
            display: inline-block;
            font-size: 1.3rem;
            font-weight: 500;
            padding: 0.25rem 0.5rem;
            border: 3px solid var(--playing-accent-transparent);
            border-radius: 4px;
        }
    }
    #playing-section.show-playing {
        background: linear-gradient(
            to bottom,
            var(--playing-accent-transparent) 0px,
            var(--bg-0) 100px
        );
    }
    /* #add-game-btn {
    } */
    .list-actions {
        position: fixed;
        background-color: var(--bg-0);
        height: var(--fixed-action-height);
        width: 100%;
        bottom: 0px;
        display: flex;
        justify-content: space-between;
        #random-btn {
            border-right: 1px solid var(--bg-1);
        }
        #filter-btn {
            border-left: 1px solid var(--bg-1);
            button {
                background-color: var(--bg-3);
            }
        }
        #random-btn,
        #filter-btn {
            display: block;
            height: 100%;
            width: 50%;
        }

        #random-btn,
        #filter-btn {
            button {
                width: 100%;
                height: 100%;
            }
        }
    }
}

/* Display list transitions */
.playing-list-enter {
    max-height: 0dvh;
}
.playing-list-enter-active {
    max-height: 100dvh;
    transition: all 300ms;
}

.playing-list-exit {
    max-height: 100dvh;
}
.playing-list-exit-active {
    max-height: 0px;
    transition: all 200ms;
}
.playing-list-exit-done {
    display: none;
    max-height: 0px;
}
