nav {
    background-color: var(--bg-2);
    border-bottom: 1px solid;
    padding: 16px;

    .container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: auto;
        max-width: var(--lg-content-width);
    }
    a {
        text-decoration: none;
        color: var(--light);
    }
    .title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-right: auto;
    }
    .link-icon {
        cursor: pointer;
        margin-left: 0.5rem;
    }
    .link-icon:hover {
        transition: background-color 0.1s, color 0.1s;
        color: var(--light-active);
    }
    .link-icon:active {
        transition: background-color 0.1s, color 0.1s;
        color: var(--light);
    }
}
