#about {
    text-wrap: balance;
    max-width: var(--md-content-width);
    section {
        padding: 0 0.5rem;
        margin-bottom: 1.5rem;

        p {
            margin: 0.5rem 0;
        }

        &:first-of-type {
            margin-top: 0;
            padding: 1rem 0.5rem;
            background-color: var(--bg-1);
            font-size: 1.1rem;
            text-align: center;
        }
    }

    button {
        padding: 1rem;
    }
}
