/* Used on routes '/signin' and '/signup' */
.auth {
    max-width: var(--sm-content-width);
    text-align: center;

    .brand {
        margin: 0.5rem;
    }
    form {
        text-align: center;

        section {
            max-width: var(--sm-content-width);
            padding: 0 0.5rem;
            margin: auto;
        }
        label {
            text-align: start;
            display: block;
        }
        input {
            width: 100%;
            margin-bottom: 0.5rem;
        }
        button {
            padding: 0.5rem 1rem;
            margin: 1rem;
        }
    }
}
