.action-options {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: calc(var(--std-action-height) + 0.5rem);
    text-align: center;

    @media screen and (width >= 700px) {
        margin-bottom: 1.5rem;
        margin-top: 1rem;
        justify-content: flex-start;
    }
}

#filter-options,
#select-random {
    max-width: calc(var(--md-content-width));
    align-self: center;
}

/* Used on '/filter' */
#filter-options {
    .toggle-btn {
        width: 100%;

        label {
            width: 50%;
        }

        .swap {
            label {
                width: 25%;
            }
        }
    }
}

/* Used on '/random' */
#select-random {
    .toggle-btn {
        width: 100%;

        label {
            width: 50%;
        }
    }
    .focus-btns-initial {
        width: 100%;
        display: flex;
        justify-content: center;

        .toggle-btn {
            width: 35%;
        }

        label {
            width: 100%;
        }
    }

    #include-playing-btn {
        padding-top: 1rem;
        border-top: 2px solid var(--bg-1);
        width: 100%;
    }
}
