# -------------------------------------------------------------------------------
#
# .ebextensions/elastic_beanstalk.config
#
# Configures AWS Elastic Beanstalk during deployment.
#
# See https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options.html
#
option_settings:
  #
  # -----------------------------------------------------------------------------
  # AUTOSCALING GROUP - Restrain to single zone for ease of EBS attachment.
  # -----------------------------------------------------------------------------
  #
  aws:autoscaling:asg:
    Custom Availability Zones: us-east-2a
  #
  # -----------------------------------------------------------------------------
  # Copy Nginx Snippets folder
  # -----------------------------------------------------------------------------
  #
  container_commands:
    command: mkdir /etc/nginx/snippets
    command: cp /var/proxy/staging/nginx/snippets/ssl.conf /etc/nginx/snippets/ssl.conf