# --------------------------------------------------------------------------------
#
# .ebextensions/permit-platform-hooks.config
#
# Configures platform hook shell scripts to allow execution.
#
container_commands:
  001_permit_hook_script_execution:
    command: find .platform/hooks/ -type f -iname "*.sh" -exec chmod +x {} \;