name: Build and deploy

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'

jobs:
  build:
    name: Build deployment assets
    uses: me-julian/games-not-played/.github/workflows/build.yml@main
    secrets: inherit
  deploy:
    name: Deploy to AWS
    needs: build
    uses: me-julian/games-not-played/.github/workflows/deploy.yml@main
    with:
      version-tag: $${{ needs.build.outputs.version-tag }}
    secrets: inherit
